# font --> http://blog.thiagobelem.net/aprendendo-urls-amigaveis
<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^atividade/?$ /views/teste.php [NC,L]
  RewriteRule ^home/?$ /index.php [NC,L]

  RewriteRule ^juros-simples-composto/?$ /views/calculo/jurosSimplesComposto.template.php [NC,L]
  RewriteRule ^area-circulo-trapezio-losango/?$ /views/area-circulo-trapezio-losango.php [NC,L]
</IfModule>
